body {
  font-family: PopPoppins, sans-serif; /* шрифт для всієї сторінки */
  font-size: 16px;
  line-height: 1.5;
}

.pink-square {
  background-color: rgb(255, 101, 132);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 55%;
  left: 0;
  z-index: -5;
  }
  
.tag {
  padding: 10px;
  background-color: rgb(255, 0, 0);
}